.numberedOverviewCardTopContainer {
    display: flex;
    margin-right: 24px;
}

.articleNumber {
    font-family: abril;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    color: #A1A1A1;
    margin-top: 11px;
    margin-right: 6px;
}