.articleOverviewContainer {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 24px;
}

.articleDomain {
    color: #2CB680;
    font-family: neuehaas;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1px;
}

.articleHeading {
    font-family: playfair;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
}

.articleSummary {
    font-weight: 400;
    font-size: 14px;
    font-family: neuehaas;
    line-height: 21px;
}

.divideLine {
    border: 1px solid #1E1B4B;
    width: 100px;
}

.articleOverViewBottomSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authorDetailsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
}

.authorImg {
    border: 1px solid #FC876D;
    border-radius: 16px;
}

.authorName{
    margin-bottom: 0;
    margin-left: 12px;
    font-family: neuehaas;
    font-size: 16px;
    color: #292929;
    line-height: 19px;
}

.chatDurationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.durationText {
    margin-bottom: 0;
    margin-right: 8px;
    font-family: neuehaas;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #6B7280;
}

.chatIconMsgContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    border-style: solid;
    border-color: #E5E7EB;

    border-width: 0 0 0 1px;
    padding: 4px 0 4px 11px
}

.chatIcon {
    margin-right: 4px;
}

.chatCount {
    margin-bottom: 0;
    font-family: neuehaas;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #6B7280;
}