.morningContextImageCOntainer {
    width: 100%;
    height: 258px;
    background-image: linear-gradient(90.97deg, #6C7AF7 0%, #A97DF1 99.9%);
}

.ctaContainer {
    background-image: url(../../../../public/mrngtcontextbg.png);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 41px 20px 32px 20px;
}

.ctaContentContainer {
    width: 335px;
    height: 208px;
    border: white solid 1px;
    border-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: playfair;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    padding: 28px 18px 24px 18px;
    text-align: center;
}

.topLineContainer {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.halfBorder {
    border-color: white;
    border-width: 1px;
    border-style: solid;
    flex-grow: 1;
}

.ctaHeading {
    margin-bottom: -8px;
    width: 169px;
    text-align: center;
    font-family: matteo;
    letter-spacing: 1px;
    font-size: 14px;
    color: white;
    line-height: 17px;
    font-weight: 400;
}