.recentNewsContainer {
    width: 355px;
    height: 111px;
}

.itemsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 355px;
    height: 111px;
    margin-left: 20px;
    margin-top: 40px;
    overflow: visible;
    list-style: none;
    padding: 0;
}

.recentNewsCard {
    background-color: white;
    width: 280px;
    margin-right: 24px;
    flex-shrink: 0;
    padding: 16px 16px 21px 16px;
}

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}